<div data-page-name="<%= page_name %>">
	<h1>Mes animaux</h1>
	
	<% if @pets.any? %>
	  <% @pets.each do |pet| %>
		<div>
		  <h2><%= pet.name %></h2>
		  <p>Espèce : <%= pet.specie %></p>
		  <%= link_to "Voir les détails", pet %>
		</div>
	  <% end %>
	<% else %>
	  <p>Vous n'avez pas encore d'animaux.</p>
	<% end %>
	<hr>
	
	<%= link_to "Ajouter un animal", new_pet_path %>
</div>