<div data-page-name="<%= page_name %>">
	<div class="measurements-index">
		<h2>Mesures de <%= @pet.name %></h2>

		<% if @measurements.any? %>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Type</th>
					<th>Valeur</th>
					<th>Notes</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @measurements.each do |measurement| %>
				<tr>
					<td><%= measurement.date.strftime("%d/%m/%Y") %></td>
					<td><%= measurement.measurement_type %></td>
					<td><%= measurement.value %> <%= measurement.weight? ? 'kg' : 'cm' %></td>
					<td><%= measurement.notes %></td>
					<td class="actions">
						<%= link_to "Modifier", edit_pet_measurement_path(@pet, measurement) %>
						<%= link_to "Supprimer", pet_measurement_path(@pet, measurement),
					data: {
					  turbo_method: :delete,
					  turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette mesure ?"
					} %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% else %>
		<p>Aucune mesure enregistrée pour le moment.</p>
		<% end %>

		<div class="actions">
			<%= link_to "Ajouter une mesure", new_pet_measurement_path(@pet) %>
		</div>
		<hr>
		<%= link_to "Retour", pet_path(@pet) %>
	</div>

	<div data-controller="chart" data-chart-data="<%= @height_data.to_json %>">
		<canvas data-chart-target="canvas"></canvas>
	</div>
	<div data-controller="chart" data-chart-data="<%= @weight_data.to_json %>">
		<canvas data-chart-target="canvas"></canvas>
	</div>
</div>